certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
lineworks==0.0.5
MarkupSafe==1.1.1
Naked==0.1.31
oauthlib==3.1.0
py-trello==0.15.0
pycryptodome==3.8.2
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.4
requests==2.22.0
requests-oauthlib==1.2.0
shellescape==3.4.1
six==1.12.0
urllib3==1.25.8
Werkzeug==0.15.5
